.metals/
.vscode/
.DS_Store
getting-started/.bsp
getting-started/project
getting-started/target
functional-programming/.bsp
functional-programming/project
functional-programming/target
streams/.bsp
streams/project
streams/target
streams/factorials.txt